.background-image {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.list-group-item {
  border-top-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 10px;
}

.todo-text {
  flex-grow: 1;
  margin: 5px 10px;
}

.list-group-item i {
  margin: 3px;
}

.todo-items {
  max-height: 30vh;
  overflow-y: scroll;
  min-height: 30vh;
}

.fa-trash-alt,
.fa-circle {
  color: rgba(228, 39, 39, 0.87);
}
.fa-check-circle {
  color: green;
}
