.card {
  width: 30rem;
}

.background-image {
  height: 200px;
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.todo-items {
  max-height: 30vh;
  overflow-y: scroll;
  min-height: 30vh;
}
li.list-group-item.active {
  background-color: #ff3333;
  border-color: #ff3333;
}